In [5]:
def cloning(li1):
         li_copy=list(li1)
         return li_copy


li1=[2,3,4,5,6,7,8]
li2=cloning(li1)
print("before clonning",li1)
print("after clonning",li2)

before clonning [2, 3, 4, 5, 6, 7, 8]
after clonning [2, 3, 4, 5, 6, 7, 8]

In [6]:
color=["red","green","blue","grey","white","orange"]
color=[x for (i,x) in enumerate(color) if i not in(0,4,5)]
print(color)

['green', 'blue', 'grey']

In [7]:
list=[1,2,3,4,5,6,7,8]
for i in list: 
               if(i%2==0):
                           list.remove(i)
print("after removing the even numbers",list)

after removing the even numbers [1, 3, 5, 7]

In [14]:
def unique(list1):
                   unique_list=[]
                   for x in list1:
                                   if x not in unique_list:
                                                              unique_list.append(x)
                   for x in unique_list:
                                          print(x)
list1=[10,20,10,30,40,40]
print(unique(list1))

10
20
30
40
None

In [23]:
while True:
            n=int(input("enter a number between 0 and 100:"))
            if 0<=n <=100:
              break
            print('try again')

enter a number between 0 and 100:200
try again
enter a number between 0 and 100:50

In [26]:
string=input("enter the string")
count1=0
count2=0
for i in string:
                if (i.islower()):
                           count1=count1+1
                elif (i.isupper()):
                           count2=count2+1
print("number of lowecase character is",count1)
print("number of upper case character is",count2)

enter the stringMy Name Is Rithik
number of lowecase character is 10
number of upper case character is 4